// Marketplace.less
// Mozilla Marketplace specific code
// -----------------------------------------------------------------

@import "mozilla.less";

body {
  position: relative;
  padding-top: 70px;
  background-color: @white;
}

.page-header {
  border-bottom: none;
}

footer {
  background-color: @grayLighter;
  color: @grayDark;
  padding: @gridGutterWidth;
  @shadow: inset 0 1px 2px rgba(0,0,0,.2);
  .box-shadow(@shadow);
  p {
    text-align: center;
  }
}

.compatibility-list > li {
  display: inline-block;
  margin-right: 4px;
}

.app-icon-section {
  margin-left:0;
}

.app-buttons {
  .btn {
    margin-bottom: 10px;
  }
}

.app-description {
  p.more {
    .hide();
  }
  a.more > span {
    .opacity(50);
  }
}

.collections .thumbnail {
  .site {
    color: @linkColor;
  }
  .date {
    font-size: @baseFontSize * 0.85;
    color: #969696;
    margin: 5px 0;
  }
  padding: 5px 10px 10px;
  cursor: pointer;
  .clearfix();
  .border-radius(0px);
  @shadow : 0 1px 2px rgb(225,224,224);
  .box-shadow(@shadow);
  .recommendations {
    margin-left: -10px;
    .app {
      text-align: center;
      margin-left: 10px;
    }
  }
}

.collection {
  margin: 0 auto;
  border: @gridColumnWidth  solid @grayLighter;
  padding: 16px;
  @shadow : 0 2px 2px #aaa;
  .box-shadow(@shadow);
  .site {
    float: right;
    color: @linkColor;
  }
  .features {
    margin: 0 auto;
  }
  h3 {
    margin-bottom: @gridColumnWidth / 2;
    font-weight: bold;
  }
}

.features {
  .thumbnail {
    .border-radius(0px);
    @shadow : 0 1px 2px rgb(225,224,224);
    .box-shadow(@shadow);
    cursor: pointer;
  }
}

.all-reviews {
  margin-bottom: @gridGutterWidth;
  .reviews {
    .review {
      margin: 10px;
      .row {
        margin-left: 0;
      }
      .review-meta {
        .avatar {
          margin: 0 5px 5px 0;
        }
        .name {
          font-weight: bold;
        }
        .date {
          color: @grayLight;
        }
      }
    }
  }
}

.categories {
  @size : 140px;
  .category {
    height: @size;
    min-width: @size;
    padding: 10px;
    margin-bottom: @gridGutterWidth;
    background-color: @grayLighter;
    @shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    .box-shadow(@shadow);
    cursor: pointer;

    h1 {
      font-size: @size;
      /* we want to fit the h5 in just below this h1 */
      line-height: @size - @baseLineHeight;
      text-align: center;
      color: @grayLight;
    }
    h5 {
      text-align: center;
      color: @grayLight;
    }
    &:hover {
      color: @gray;
      background-color: darken(@grayLighter, 10%);
      .transition(background-color .1s linear);
    }
  }
}

// LARGE DESKTOP & UP
// ------------------

@media (min-width: 1200px) {

}

// PORTRAIT TABLET TO DEFAULT DESKTOP
// ----------------------------------

@media (min-width: 940px) {
  .all-reviews {
    .columns(@gridGutterWidth, @gridColumnWidth, @gridRowWidth, @columns) {
      width: (@gridColumnWidth * @columns) + (@gridGutterWidth * (@columns - 1));
    }
    .tab-content {
      margin-left: 0px;
    }
    // Force our review tabs to always show at Desktop sizes
    .tab-content > .tab-pane {
      display: block;
      .columns(@gridGutterWidth, @gridColumnWidth, @gridRowWidth, 6);
    }
    .nav.nav-tabs > .active {
      .columns(@gridGutterWidth, @gridColumnWidth, @gridRowWidth, 6);
    }
    // Hide the tab navigation for reviews at Desktop sizes
    .nav.nav-tabs > .active > a {
      border: none;
    }
    // Cancel out the link color of the non-active tab
    .nav.nav-tabs > li > a {
      color: @gray;
    }
    // Cancel out the hover effects of the non-active tab
    .nav.nav-tabs > li > a:hover {
      background-color: @white;
      border-color: @white @white #ddd;
      cursor: default;
    }
  }
  // Show reviews as two columns in Desktop view
  #negative-reviews,
  #positive-reviews {
    float: left;
  }
}

@media (max-width: 940px) {
  // hide the apps vs. add-ons choice when we're in tablets or phones
  .navbar .nav > li.apps-add-ons {
    .hide();
  }
  .collection {
    border: (@gridColumnWidth / 2) solid @grayLighter;
  }
}

// LANDSCAPE PHONE TO SMALL DESKTOP & PORTRAIT TABLET
// --------------------------------------------------

@media (max-width: 768px) {
  body {
    padding-top: 0;
  }
  .row.categories > .category {
    margin-bottom: @gridGutterWidth;
  }
  .all-reviews {
    .tab-content {
      margin-left: 0px;
    }
  }
}

// UP TO LANDSCAPE PHONE
// ---------------------

@media (max-width: 480px) {
  .app-info-section {
    .btn {
      display: block;
      margin: 0 auto @gridGutterWidth;
      text-align: center;
    }
  }
  .content .row > .app-icon {
    width: 64px;
    float: left;
  }
  .collection {
    width: 100%;
    border: none;
    .box-shadow(none);
    padding: 0;
  }
}
